/* Header */
.green {
  color: #77AA32;
}

.red {
  color: #CA3523;
}

.green-bg {
  background-color: #77AA32;
}

.red-bg {
  background-color: #CA3523;
}

.blue-bg {
  background-color: #00AEEF;
}

.orange-bg {
  background-color: #FF9900;
}

.badge {
  margin-left: 5px;
}

.navbar {
  border-radius: 0px;
}

.navbar-inverse .navbar-nav>.disabled>a {
  color: #9d9d9d;
}

/* Test description */

.test p {
  display: inline-block;
}

.test p:hover {
  cursor: pointer;
}

.test-state {
  font-style: italic;
}

.details {
  height: auto;
  max-height: 0px;
  overflow: hidden;
  transition: all 1s;
}

.toggled .details {
  max-height: 1000px;
}

/* Test report */

.baseline {
  border: 1px solid #63c363;
}

.screenshot {
  border: 1px solid #f77;
}

.details .clearfix {
  padding-top: 10px;
}

.btn-danger:focus {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.jumbotron {
  position: relative;
  padding: 20px;
}

.simple img, .special, .view-selector {
  max-width: 100%;
  max-height: 100%;
  display: table;
  margin: 0 auto;
}

.ImageDiff * {
  box-sizing: content-box;
}

.btn.active:focus, .btn:focus, .btn:active:focus {
  outline: 0;
}

.btn-default.active:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 3px;
    background: #ddd;
    border: none;
    border-radius: 2px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #00AEEF;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
